@font-face{
    font-family: 'Helvetica-BdCn';
    src: url('./fonts/Helvetica/HelveticaNeueLTPro-BdCn.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Helvetica-Th';
    src: url('./fonts/Helvetica/HelveticaNeueLTPro-Th.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Helvetica-Md';
    src: url('./fonts/Helvetica/HelveticaNeueLTPro-Md.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


/* 나머지 스타일 */
html, body, #root, .slick-list, .slick-track {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* 스크롤바를 숨김 */
    box-sizing: border-box; /* 패딩이나 보더를 포함한 전체 크기 계산 */
}

* {
    box-sizing: border-box; /* 모든 요소에 box-sizing: border-box 적용 */
}

.jouterBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin:0;
    position: relative;
    overflow: hidden; /* 슬라이더가 화면을 벗어나지 않도록 설정 */
    background-color:black;
}


.jplayerBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: relative;
}


.jvideoPlayer {
    width: 100%;
    height: 100%;
    object-fit: contain; /* 비디오가 잘리지 않고 컨테이너에 맞도록 설정 */
    margin: 0; /* 기본 마진 제거 */
    padding: 0; /* 기본 패딩 제거 */
    display: block; /* 블록 요소로 동작하도록 설정 */
}


