.jouterBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    overflow: hidden;
    background-color: black;
}

.jplayerBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
}

.jvideoPlayer {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: 0;
    padding: 0;
    display: block;
}

.playBtnBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    z-index: 10; /* 비디오 위에 표시 */
    display: flex;
    cursor: pointer;

    /* Fade-in/out 기본 설정 */
    opacity: 0; /* 기본값: 보이지 않음 */
    transition: opacity 0.5s ease; /* 부드러운 fade 효과 (0.5초) */
    pointer-events: none; /* 보이지 않을 때 클릭 방지 */
}

.playBtn {
    width: 50px;
    height: 50px;
}

/* 보이는 상태에 대한 스타일 */
.playBtnBox.show {
    opacity: 1; /* 보임 */
    pointer-events: auto; /* 클릭 가능 */
}

.playBtn img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
