/* 나머지 스타일 */
html, body, #root, .slick-list, .slick-track {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* 스크롤바를 숨김 */
    box-sizing: border-box; /* 패딩이나 보더를 포함한 전체 크기 계산 */
}

* {
    box-sizing: border-box; /* 모든 요소에 box-sizing: border-box 적용 */
}


.jouterBox {
    display: flex;
    justify-content:center;
    align-items: start;
    width: 100%;
    height: 100%;
    padding: 0;
    margin:0;
    position: relative;
    overflow: hidden;
    background-color: black;
}

.joinBackimg{
    position:absolute;
    z-index:0;
    width:100%;
    height:100%;
}

.rectangleimg1{
    position:absolute;
    top:10px;
    left:35px;
    width:602px;
    height:344px;
    z-index:3;
}

.rectangleimg2{
    position:absolute;
    top:10px;
    left:720px;
    width:602px;
    height:344px;
    z-index:3;
}

.rectangleimg3{
    position:absolute;
    top:10px;
    left:1410px;
    width:605px;
    height:344px;
    z-index:3;
}

.jplayerBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    margin: 15px 0 0 0;
    gap:10px;
    position: relative;
    z-index:1;
}

.jvideoPlayer {
    flex:1;
    object-fit: contain;
    width:598px;
    height:336px;
}
