html, body, #root, .slick-list, .slick-track {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* 스크롤바 제거 */
    box-sizing: border-box;
}

* {
    box-sizing: border-box; /* 기본 box-sizing */
}

.louterBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.lslider {
    display: flex;
    width: 100%;
    height: 100%;
}

.lplayerBox {
    width: 100%;
    height: 100%;
}

.lvideoPlayer {
    width: 100%;
    height: 100vh;
    overflow:hidden;
    object-fit: cover; /* 왜곡 없이 슬라이드 채움 */
    display: block;
}

.successBox {
    position: relative; /* gohomeBox 배치를 위한 relative */
    overflow:hidden;
    width: 100%;
    height: 100vh;
}

.successBox img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 왜곡 없이 슬라이드 채움 */
}

.gohomeBox {
    position: absolute; /* 이미지 위에 겹침 */
    bottom: 0; /* 슬라이드 하단 고정 */
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.gohomeBtn img {
    width: 150px; /* 버튼 크기 조정 */
    cursor: pointer;
}
