@font-face{
    font-family: 'Helvetica-Roman';
    src: url('./fonts/Helvetica/HelveticaNeueLTPro-Roman.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Humane';
    src: url('./fonts/Humane/Humane-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


html, body, #root, .slick-list, .slick-track {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* 스크롤바 제거 */
    box-sizing: border-box;
}

* {
    box-sizing: border-box; /* 기본 box-sizing */
}

.laouterBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.laslider {
    display: flex;
    width: 100%;
    height: 100%;
}

.laplayerBox {
    width: 100%;
    height: 100%;
}

.lavideoPlayer {
    width: 100%;
    height: 100vh;
    overflow:hidden;
    object-fit: cover; /* 왜곡 없이 슬라이드 채움 */
    display: block;
}

.laresultBox {
    display:flex;
    flex-direction:column;
    width:100%;
    height:100vh;
    background-color:#2B2B2B;
    overflow:hidden;
}

.aresultline1, .aresultline2, .aresultline3, .aresultline4, .aresultline5, .aresultline6{
    display:flex;
    flex-direction:row;
    font-size:20px;
    width:200%;
    height:180px;
}

.aresultline1{animation: infiniteScroll 25s linear infinite;}  /* 스크롤 속도 조정 가능 */
.aresultline2{animation: infiniteScroll2 27s linear infinite;}
.aresultline3{ animation: infiniteScroll 29s linear infinite;}
.aresultline4{animation: infiniteScroll2 29s linear infinite;}
.aresultline5{animation: infiniteScroll 27s linear infinite;}
.aresultline6{animation: infiniteScroll2 25s linear infinite;}


.resultbox{
    display:flex;
    flex-direction:row;
    width:708px;
    height:180px;
    flex-shrink: 0;
    padding:11px 27px;
}


.resultInfo{
    display:flex;
    flex-direction: column;
    position:relative;
}

.infoDateWrap{
    flex:1;
    display:flex;
    flex-direction:row;
}

.infoDate{
    width:100px;
    margin-right:30px;
    font-family: "Helvetica-Roman";
    font-size: 18.489px;
    font-style: normal;
    font-weight: 500;
    line-height: 24.57px; /* 132.887% */
}
.infoTime{
    font-family: "Helvetica-Roman";
    font-size: 18.489px;
    font-style: normal;
    font-weight: 500;
    line-height: 24.57px; /* 132.887% */
}


.infoGuestWrap{
    position:absolute;
    font-family: "Helvetica-Roman";
    font-size: 18.489px;
    font-style: normal;
    font-weight: 500;
    line-height: 24.57px; /* 132.887% */
    flex:1;
    bottom:0;
}


.resultPrice{
    width:100%;
    height:100%;
    text-align: right;
    font-family: Humane;
    font-size: 175.293px;
    font-style: normal;
    font-weight: 300;
    line-height: 180px; /* 68.457% */
}


/* 무한 스크롤 애니메이션 정의 */
@keyframes infiniteScroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
@keyframes infiniteScroll2 {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
